html, body {
  padding: 0;
  margin: 0;
}

body {
  background: #999;
}

.panel {
  height: 14rem;
  margin: 2rem 0 0;
}

.panel-dimensions,
.panel-tiles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1lh 2rem;
  padding: 0 2rem 2rem;
  font-family: monospace;
}

.field {
  display: flex;
  align-items: flex-end;
  gap: 1ch;
}

.field label {
  width: 30%;
}

.field input[type="number"],
.field input[type="range"] {
  flex-grow: 9
}

.field label,
.field span {
  white-space: nowrap;
}

.field label .tile {
  display: block;
  width: 3rem;
  height: 3rem;
}

.field .inputs {
  display: flex;
  flex-wrap: wrap;
}

.field .inputs span {
  width: 100%;
}

.panel-align {
  grid-column: span 2 / span 2;
}

.panel-align h4 {
  display: inline-block;
  margin: 0;
}

.wall {
  height: calc(100dvh - 20rem);
  margin: 2rem;
}

.tiles {
  display: grid;
  direction: ltr;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  border: 1px solid #000;
  background: #d8d8d8;
}

.tiles.rtl {
  direction: rtl;
}

.tile16900 {
  aspect-ratio: 1;
  background: transparent url('images/tile-16900.png') no-repeat 0 0 / 97.5% 97.5%;
}
.tile16905 {
  aspect-ratio: 1;
  background: transparent url('images/tile-16905.png') no-repeat 0 0 / 97.5% 97.5%;
}
.tile16906 {
  aspect-ratio: 1;
  background: transparent url('images/tile-16906.png') no-repeat 0 0 / 97.5% 97.5%;
}
.tile16901ne {
  aspect-ratio: 1;
  background: transparent url('images/tile-16901-ne.png') no-repeat 0 0 / 97.5% 97.5%;
}
.tile16901se {
  aspect-ratio: 1;
  background: transparent url('images/tile-16901-se.png') no-repeat 0 0 / 97.5% 97.5%;
}
.tile16901sw {
  aspect-ratio: 1;
  background: transparent url('images/tile-16901-sw.png') no-repeat 0 0 / 97.5% 97.5%;
}
.tile16901nw {
  aspect-ratio: 1;
  background: transparent url('images/tile-16901-nw.png') no-repeat 0 0 / 97.5% 97.5%;
}
